html {
    height: 100%; 
}

body {
    background-color:rgba(199, 193, 193, 0.555);
    background-repeat: no-repeat;
    /*-moz-box-sizing: border-box;*/
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
    padding-bottom: 12%;
}

.container-back {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2%;
    position: relative;
}

.background {
    width: 100%;
}

.background-text {
    position: absolute;
    top: 7%;
    left: 16%;
}
.title {
    font-size: 240%;
    font-family: 'Georgia';
    color: rgb(119, 8, 8);
    line-height: 80%;
    font-weight: bold;
    text-align: center;
}
.subtitle {
    font-size: 140%;
    font-family: 'Georgia';
    color: black;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.bbte-logo{
    width: 6%;
    position: absolute;
    right: 2%;
    top: 7%;
}
.fsega-logo {
    width: 6%;
    position: absolute;
    right: 9%;
    top: 7%;
}

@media (max-width: 991px) {
    .bbte-logo{
        width: 6%;
        position: absolute;
        right: 2%;
        top: 5%;
    }
    .fsega-logo {
        width: 6%;
        position: absolute;
        right: 9%;
        top: 5%;
    }
}

@media (max-width: 450px) {
    .bbte-logo{
        width: 6%;
        position: absolute;
        right: 2%;
        top: 3.5%;
    }
    .fsega-logo {
        width: 6%;
        position: absolute;
        right: 10%;
        top: 3.5%;
    }
}

@media (max-width: 1300px){
    .background-text {
        position: absolute;
        top: 6%;
        left: 12%;
    }
    .title {
        font-size: 230%;
        font-family: 'Georgia';
        color: rgb(119, 8, 8);
        line-height: 80%;
        font-weight: bold;
        text-align: center;
    }
    .subtitle {
        font-size: 130%;
        font-family: 'Georgia';
        color: black;
        font-style: italic;
        font-weight: bold;
        text-align: center;
    }
}

@media (max-width: 1220px){
    
    .background-text {
        position: absolute;
        top: 7%;
        left: 12%;
    }
    .title {
        font-size: 220%;
        font-family: 'Georgia';
        color: rgb(119, 8, 8);
        line-height: 50%;
        font-weight: bold;
        text-align: center;
    }
    .subtitle {
        font-size: 120%;
        font-family: 'Georgia';
        color: black;
        font-style: italic;
        font-weight: bold;
        text-align: center;
    }
}

@media (max-width: 1135px){
   
    .background-text {
        position: absolute;
        top: 7%;
        left: 11%;
    }
    .title {
        font-size: 210%;
        font-family: 'Georgia';
        color: rgb(119, 8, 8);
        line-height: 50%;
        font-weight: bold;
        text-align: center;
    }
    .subtitle {
        font-size: 110%;
        font-family: 'Georgia';
        color: black;
        font-style: italic;
        font-weight: bold;
        text-align: center;
    }
}

@media (max-width: 1070px) {

    .background-text {
        position: relative;
        left: 0%;
    }
    .title {
        text-align: center;
        font-size: 220%;
        font-family: 'Georgia';
        color: rgb(119, 8, 8);
        line-height: 100%;
        font-weight: bold;
    }
    .subtitle {
        text-align: center;
        font-size: 110%;
        font-family: 'Georgia';
        color: black;
        font-style: italic;
        font-weight: bold;
    }
}

img#one {
    border-radius: 8px;
    width: 38%;
    position: relative;
    transform: translate(8%,20%);
}

img#two {
    border-radius: 8px;
    width: 48%;
    position: relative;
    transform: translate(20%,50%);
}

img#three {
    border-radius: 8px;
    width: 30%;
    position: relative;
    transform: translate(20%,50%);
}

img#four {
    border-radius: 8px;
    width: 40%;
    position: relative;
    transform: translate(50%,100%);
}

img#five {
    border-radius: 8px;
    width: 38%;
    position: relative;
    transform: translate(15%,130%);
}

img#six {
    border-radius: 8px;
    width: 35%;
    position: relative;
    transform: translate(-80%,30%);
}

img#seven {
    border-radius: 8px;
    width: 38%;
    position: relative;
    transform: translate(150%,30%);
}

@media (max-width:1199px){
    .pictures{
        margin-top: 7%;
    }
}

@media (max-width: 991px){
    .pictures{
        width: 90%;
        margin-bottom: 15%;
        margin-right: 5%;
        margin-left: 5%;
    }
    img#one {
        border-radius: 8px;
        width: 30%;
        position: relative;
        transform: translate(2%,55%);
    }
    
    img#two {
        border-radius: 8px;
        width: 38%;
        position: relative;
        transform: translate(-70%,195%);
    }
    
    img#three {
        border-radius: 8px;
        width: 28%;
        position: relative;
        transform: translate(-90%,25%);
    }
    
    img#four {
        border-radius: 8px;
        width: 35%;
        position: relative;
        transform: translate(95%,20%);
    }
    
    img#five {
        border-radius: 8px;
        width: 20%;
        position: relative;
        transform: translate(65%,195%);
    }
    
    img#six {
        border-radius: 8px;
        width: 30%;
        position: relative;
        transform: translate(45%,-30%);
    }
    
    img#seven {
        border-radius: 8px;
        width: 26%;
        position: relative;
        transform: translate(280%,10%);
    }

}

.first {
    font-family: 'Arial';
    color: rgb(51, 3, 3);
    font-size: 130%;
    line-height: 400%;
    text-indent: 0px;
    font-style: italic;
}

.letter {
    font-family: 'Arial';
    color: rgb(51, 3, 3);
    text-indent: 7%;
    text-align: justify;
    font-size: 110%;
    line-height: 180%;
}

.ultimate {
    font-family: 'Arial';
    color: rgb(51, 3, 3);
    text-align: right;
    font-size: 100%;
    margin-top: 8%;
    margin-bottom: 5%;
    line-height: 100%;
    font-style: italic;
}

.menu {
    width: 100%;
}

.navigacio {
    width: 300px;
    height: 100%;
    background-color: rgb(88, 4, 4);
    position: fixed;
    top: 0;
    left: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 70% 70% 0;
    transition: left 0.8s;
}

.change {
    left: 0;
}

.hamburger {
    width: 45px;
    height: 45px;
    position: fixed;
    top: 3%;
    left: 3%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sor {
    width: 90%;
    height: 5px;
    background-color:rgb(51, 3, 3);
    transition: all 0.8s;
    border-radius: 30% 30% 30% 30%;
}

.change .sor-1 {
    transform: rotateZ(-45deg) translate(-8.5px, 8.5px);
}

.change .sor-2 {
    opacity: 0;
}

.change .sor-3 {
    transform: rotateZ(45deg) translate(-8.5px, -8.5px);
}

.list-item1 {
    text-decoration: none;
    color: white;
}

.menulink {
    text-decoration: none;
    color: white;
    font-size: 130%;
    font-family: 'Georgia';
    letter-spacing: 1px;
    line-height: 3;
    position: relative;
}

.menulink::before,.menulink::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.menulink::before {
    top: 1%;
}

.menulink::after {
    bottom: 1%;
}

.menulink:hover::before, .menulink:hover::after {
    transform: scaleX(1);
}

.menulink:hover {
    text-decoration: none;
    color: white;
}

table#t01 {
    width: 60%;
    position: relative;
    left: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
}

td {
    font-size: 120%;
    color: rgb(51, 3, 3);
    font-family: 'Arial';
    padding: 5px;
    text-align: left;
}

td:nth-child(1) {
    color: rgb(88, 4, 4);
    font-weight: bold;
}

@media (max-width: 1102px){

    td {
        font-size: 100%;
        color: rgb(51, 3, 3);
        font-family: 'Arial';
        padding: 7px;
        text-align: left;
    }
}

@media (max-width: 875px){

    table#t01 {
        width: 70%;
        position: relative;
        left: 20%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

footer{
    background-color: rgb(51, 3, 3);   
    padding: 0.5%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-text p{
    font-family: 'Georgia';
    color: white;
    font-size: 80%;
    margin: 0 0;
}

.footer-text a, .footer-text a:hover {
    color: white;
    text-decoration: none;
}

.footer-icons {
    text-align: right;
}

.fa-facebook {
    color: rgb(49, 102, 216);
}

.fa-instagram {
    color: rgb(165, 11, 70);
}

.fa-graduation-cap {
    color: white;
}

@media (max-width: 767px) {

    .footer-text p{
        display: none;
    }
    .footer-icons {
        position: relative;
        text-align: center;
    }

}

.small-title {
    font-size: 180%;
    color: rgb(88, 4, 4);
    font-family: 'Georgia';
    font-weight: bold;
    font-style: italic;
}

.paragraf {
    font-size: 120%;
    color: rgb(51, 3, 3);
    font-family: 'Arial';
    text-indent: 3%;
    text-align: justify;
    
}

.num{
    font-size: 150%;
    font-family: 'Brush Script MT';
}

img#print{
    width: 80%;
    margin: auto;
    display: block;
    margin-top: 10%;
    margin-bottom: 10%;
}

@media (max-width: 991px){
    img#print{
        width: 60%;
        margin: 0%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

img#presentation{
    width: 100%;
    display: block;
    margin-top: 20%;
    margin-bottom: 10%;
}

@media (max-width: 1199px){
    img#presentation{
        width: 100%;
        display: block;
        margin-top: 40%;
        margin-bottom: 10%;
    }
}

@media (max-width: 991px){
    img#presentation{
        width: 60%;
        margin: 0%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

.file{
    text-decoration: underline;
    color: rgb(1, 36, 75);
}

.list-item2 {
    text-decoration: none;
    font-size: 120%;
    list-style-type: square;
    font-weight: bold;
    color: rgb(88, 4, 4);
    margin-left: 10%;
}

.description{
    font-size: 100%;
    color: rgb(51, 3, 3);
    margin-left: 10%;
    text-align: justify;
    margin-right: 10%;
}

.department{
    font-size: 100%;
    color: rgb(51, 3, 3);
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.list-item3{
    text-decoration: none;
    font-size: 100%;
    list-style-type: square;
    color: rgb(51, 3, 3);
    margin-left: 10%;
}

.top{
    margin-top: 10%;
}

@media (max-width: 991px){
    .top{
        margin-top: 0%;
    }
}

.link{
    text-decoration: underline;
    color: rgb(119, 8, 8);
}

.link:hover{
    text-decoration: underline;
    color: rgb(51, 3, 3);
}

.single-paragraf{
    font-size: 120%;
    color: rgb(51, 3, 3);
    font-family: 'Arial';
    text-align: justify;
    text-indent: 3%;
    margin-top: 3%;
}

form {
    margin-top: 3%;
}

.form-title{
    font-size: 170%;
    color: rgb(51, 3, 3);
    font-family: 'Arial';
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.form-control{
    font-size: 17px;
    color: black;
}

.option-paragraf{
    color: rgb(119, 8, 8);
    font-size: 160%;
    font-style: italic;
    margin-top: 3%;
}

.btn-default{
    background-color: rgb(88, 4, 4);
    border-color: rgb(51, 3, 3);
    color: white;
    margin-top: 3em;
    margin-bottom: 3em;
}

.btn-default:hover{
    background-color: rgb(73, 7, 7);
    border-color: rgb(51, 3, 3);
    color: white;
}

.btn-default:active{
    background-color: rgb(73, 7, 7);
    border-color: rgb(51, 3, 3);
    color: white;
}

.btn-default:focus{
    background-color: rgb(73, 7, 7);
    border-color: rgb(51, 3, 3);
    color: white;
}

.btn-default:active:focus{
    background-color: rgb(73, 7, 7);
    border-color: rgb(51, 3, 3);
    color: white;
}

/*#feedback{
    background-color: rgba(5, 189, 66, 0.719);
    text-align: center;
    border: solid;
    border-width: thin;
    border-color: rgb(1, 131, 34);
}*/

.paragraf-teacher{
    color: rgb(88, 4, 4);
    font-family: 'Georgia';
    font-size: 140%;
    font-weight: bold;
    text-align: center;
    border: solid;
    border-width: thin;
    border-color: rgb(73, 7, 7);
    padding: 2%;
    border-radius: 30px 10px;
}

.long {
    margin-top: 20%;
}

@media (max-width: 991px){
    .long {
        margin-top: 0;
    }
}

.university-name-paragraf{
    color: rgb(51, 3, 3);
    font-family: 'Gerogia';
    font-size: 160%;
    margin-top: 3%;
}

.one-line-paragraf{
    font-size: 120%;
    color: rgb(51, 3, 3);
    font-family: 'Arial';
}

.contact{
    font-family: 'Gerogia';
    font-size: 120%;
    font-weight: bold;
}

img#contact-image{
    width: 70%;
    border-radius: 10%;
}