html {
    height: 100%; 
}

body {
    background-color: rgba(199, 193, 193, 0.555);
    background-repeat: no-repeat;
    /*-moz-box-sizing: border-box;*/
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
    padding-bottom: 12%;
}

.container-back {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2%;
    position: relative;
}

.background {
    width: 100%;
}

.background-text {
    position: absolute;
    top: 7%;
    left: 16%;
}
.title {
    font-size: 240%;
    font-family: 'Georgia';
    color: rgb(119, 8, 8);
    line-height: 80%;
    font-weight: bold;
    text-align: center;
}
.subtitle {
    font-size: 140%;
    font-family: 'Georgia';
    color: black;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.bbte-logo{
    width: 6%;
    position: absolute;
    right: 2%;
    top: 7%;
}
.fsega-logo {
    width: 6%;
    position: absolute;
    right: 9%;
    top: 7%;
}

@media (max-width: 991px) {
    .bbte-logo{
        width: 6%;
        position: absolute;
        right: 2%;
        top: 5%;
    }
    .fsega-logo {
        width: 6%;
        position: absolute;
        right: 9%;
        top: 5%;
    }
}

@media (max-width: 450px) {
    .bbte-logo{
        width: 6%;
        position: absolute;
        right: 2%;
        top: 3.5%;
    }
    .fsega-logo {
        width: 6%;
        position: absolute;
        right: 10%;
        top: 3.5%;
    }
}

@media (max-width: 1300px){
    .background-text {
        position: absolute;
        top: 6%;
        left: 12%;
    }
    .title {
        font-size: 230%;
        font-family: 'Georgia';
        color: rgb(119, 8, 8);
        line-height: 80%;
        font-weight: bold;
        text-align: center;
    }
    .subtitle {
        font-size: 130%;
        font-family: 'Georgia';
        color: black;
        font-style: italic;
        font-weight: bold;
        text-align: center;
    }
}

@media (max-width: 1220px){
    
    .background-text {
        position: absolute;
        top: 7%;
        left: 12%;
    }
    .title {
        font-size: 220%;
        font-family: 'Georgia';
        color: rgb(119, 8, 8);
        line-height: 50%;
        font-weight: bold;
        text-align: center;
    }
    .subtitle {
        font-size: 120%;
        font-family: 'Georgia';
        color: black;
        font-style: italic;
        font-weight: bold;
        text-align: center;
    }
}

@media (max-width: 1135px){
   
    .background-text {
        position: absolute;
        top: 7%;
        left: 11%;
    }
    .title {
        font-size: 210%;
        font-family: 'Georgia';
        color: rgb(119, 8, 8);
        line-height: 50%;
        font-weight: bold;
        text-align: center;
    }
    .subtitle {
        font-size: 110%;
        font-family: 'Georgia';
        color: black;
        font-style: italic;
        font-weight: bold;
        text-align: center;
    }
}

@media (max-width: 1070px) {

    .background-text {
        position: relative;
        left: 0%;
    }
    .title {
        text-align: center;
        font-size: 220%;
        font-family: 'Georgia';
        color: rgb(119, 8, 8);
        line-height: 100%;
        font-weight: bold;
    }
    .subtitle {
        text-align: center;
        font-size: 110%;
        font-family: 'Georgia';
        color: black;
        font-style: italic;
        font-weight: bold;
    }
}

img#one {
    border-radius: 8px;
    width: 38%;
    position: relative;
    transform: translate(8%,20%);
}

img#two {
    border-radius: 8px;
    width: 48%;
    position: relative;
    transform: translate(20%,50%);
}

img#three {
    border-radius: 8px;
    width: 30%;
    position: relative;
    transform: translate(20%,50%);
}

img#four {
    border-radius: 8px;
    width: 40%;
    position: relative;
    transform: translate(50%,100%);
}

img#five {
    border-radius: 8px;
    width: 38%;
    position: relative;
    transform: translate(15%,130%);
}

img#six {
    border-radius: 8px;
    width: 35%;
    position: relative;
    transform: translate(-80%,30%);
}

img#seven {
    border-radius: 8px;
    width: 38%;
    position: relative;
    transform: translate(150%,30%);
}

@media (max-width:1199px){
    .pictures{
        margin-top: 7%;
    }
}

@media (max-width: 991px){
    .pictures{
        width: 90%;
        margin-bottom: 15%;
        margin-right: 5%;
        margin-left: 5%;
    }
    img#one {
        border-radius: 8px;
        width: 30%;
        position: relative;
        transform: translate(2%,55%);
    }
    
    img#two {
        border-radius: 8px;
        width: 38%;
        position: relative;
        transform: translate(-70%,195%);
    }
    
    img#three {
        border-radius: 8px;
        width: 28%;
        position: relative;
        transform: translate(-90%,25%);
    }
    
    img#four {
        border-radius: 8px;
        width: 35%;
        position: relative;
        transform: translate(95%,20%);
    }
    
    img#five {
        border-radius: 8px;
        width: 20%;
        position: relative;
        transform: translate(65%,195%);
    }
    
    img#six {
        border-radius: 8px;
        width: 30%;
        position: relative;
        transform: translate(45%,-30%);
    }
    
    img#seven {
        border-radius: 8px;
        width: 26%;
        position: relative;
        transform: translate(280%,10%);
    }

}

.first {
    font-family: 'Arial';
    color: rgb(51, 3, 3);
    font-size: 130%;
    line-height: 400%;
    text-indent: 0px;
    font-style: italic;
}

.letter {
    font-family: 'Arial';
    color: rgb(51, 3, 3);
    text-indent: 7%;
    text-align: justify;
    font-size: 110%;
    line-height: 180%;
}

.ultimate {
    font-family: 'Arial';
    color: rgb(51, 3, 3);
    text-align: right;
    font-size: 100%;
    margin-top: 8%;
    margin-bottom: 5%;
    line-height: 100%;
    font-style: italic;
}

.menu {
    width: 100%;
}

.navigacio {
    width: 300px;
    height: 100%;
    background-color: rgb(88, 4, 4);
    position: fixed;
    top: 0;
    left: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 70% 70% 0;
    transition: left 0.8s;
    z-index: 1;
}

.change {
    left: 0;
}

#hamburger {
    width: 45px;
    height: 45px;
    position: fixed;
    top: 3%;
    left: 3%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: top 0.2s;
}

.sor {
    width: 90%;
    height: 5px;
    background-color:rgb(51, 3, 3);
    transition: all 0.8s;
    border-radius: 30% 30% 30% 30%;
}

.change .sor-1 {
    transform: rotateZ(-45deg) translate(-8.5px, 8.5px);
}

.change .sor-2 {
    opacity: 0;
}

.change .sor-3 {
    transform: rotateZ(45deg) translate(-8.5px, -8.5px);
}

.list-item1 {
    text-decoration: none;
    color: white;
}

.menulink {
    text-decoration: none;
    color: white;
    font-size: 130%;
    font-family: 'Georgia';
    letter-spacing: 1px;
    line-height: 3;
    position: relative;
}

.menulink::before,.menulink::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.menulink::before {
    top: 0;
}

.menulink::after {
    bottom: 0;
}

.menulink:hover::before, .menulink:hover::after {
    transform: scaleX(1);
}

.menulink:hover {
    text-decoration: none;
    color: white;
}

.menulink:focus{
    text-decoration: none;
    color: white;
}

.active{
    text-decoration: none;
    color: white;
    font-size: 140%;
    border-left: 3px solid;
    padding: 4px;
}

.active:hover{
    text-decoration: none;
    color: white;
    border-left: 3px solid;
    padding: 4px;
}

.active:hover::before, .active:hover::after{
    transform: scaleX(0);
}

.table-title{
    font-family: 'Georgia';
    font-size: 180%;
    color: rgb(88, 4, 4);
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

#t01, #t02, #t03 {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
}

#t01 td, #t02 td , #t03 td {
    font-size: 110%;
    color: rgb(51, 3, 3);
    font-family: 'Arial';
    padding: 1%;
    border-bottom: 1px solid rgb(179, 177, 177);
}

#t01 td:nth-child(1), #t02 td:nth-child(1), #t03 td:nth-child(1) {
    color: rgb(88, 4, 4);
    font-weight: bold;
}

#t01 td:nth-child(2), #t02 td:nth-child(2), #t03 td:nth-child(2) {
    text-align: right;
}

@media (max-width: 991px){

    #t01, #t02, #t03{
        width: 100%;
    }
    #t01 td, #t02 td, #t03 td {
        font-size: 100%;
    }
}

footer{
    background-color: rgb(51, 3, 3);   
    padding: 0.5%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-text p{
    font-family: 'Georgia';
    color: white;
    font-size: 80%;
    margin: 0 0;
}

.footer-text a, .footer-text a:hover {
    color: white;
    text-decoration: none;
}

.footer-icons {
    text-align: right;
}

.fa-facebook {
    color: rgb(49, 102, 216);
}

.fa-instagram {
    color: rgb(165, 11, 70);
}

.fa-graduation-cap {
    color: white;
}

@media (max-width: 767px) {

    .footer-text p{
        display: none;
    }
    .footer-icons {
        position: relative;
        text-align: center;
    }

}

.small-title {
    font-size: 180%;
    color: rgb(88, 4, 4);
    font-family: 'Georgia';
    font-weight: bold;
    font-style: italic;
    margin-top: 2%;
}

.paragraf {
    font-size: 120%;
    color: rgb(51, 3, 3);
    font-family: 'Arial';
    text-indent: 3%;
    text-align: justify;
}

.bourdon{
    color: rgb(119, 8, 8);
    font-weight: bold;
}

.special-number{
    font-size: 150%;
    font-family: 'Brush Script MT';
}

img#print{
    width: 80%;
    margin: auto;
    display: block;
    margin-top: 10%;
    margin-bottom: 10%;
}

@media (max-width: 991px){
    img#print{
        width: 60%;
        margin: 0%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 3%;
        margin-bottom: 3%;
    }
}

img#presentation{
    width: 100%;
    display: block;
    margin-top: 10%;
    margin-bottom: 10%;
}

@media (max-width: 1199px){
    img#presentation{
        width: 100%;
        display: block;
        margin-top: 20%;
        margin-bottom: 20%;
    }
}

@media (max-width: 991px){
    img#presentation{
        width: 60%;
        margin: 0%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

.file{
    text-decoration: none;
    color: rgb(1, 38, 80);
}

.file:hover{
    text-decoration: none;
    font-style: italic;
    color: rgb(0, 27, 58);
}

@media (max-width: 991px){
    .top{
        margin-top: 0%;
    }
}

.link-bourdon{
    text-decoration: underline;
    color: rgb(88, 4, 4);
}

.link-bourdon:hover{
    text-decoration: none;
    color: rgb(51, 3, 3);
}

.link{
    text-decoration: underline;
    color: rgb(5, 54, 110);
}

.link:hover{
    text-decoration: none;
    color: rgb(3, 32, 65);
}

.link:focus{
    text-decoration: underline;
    color: rgb(3, 32, 65);
}

/*.link:visited{
    text-decoration: underline;
    color: rgb(71, 3, 102);
}*/

.single-paragraf{
    font-size: 120%;
    color: rgb(51, 3, 3);
    font-family: 'Arial';
    text-align: justify;
    text-indent: 3%;
    margin-top: 3%;
}

form {
    margin-top: 3%;
}

.form-title{
    font-size: 170%;
    color: rgb(51, 3, 3);
    font-family: 'Arial';
    text-align: center;
    margin-bottom: 2%;
}

.form-control{
    font-size: 17px;
    color: black;
}

.option-paragraf{
    color: rgb(119, 8, 8);
    font-size: 160%;
    font-style: italic;
    margin-top: 3%;
}

.btn-default{
    background-color: rgb(88, 4, 4);
    border-color: rgb(51, 3, 3);
    color: white;
    margin-top: 3em;
    margin-bottom: 3em;
}

.btn-default:hover{
    background-color: rgb(73, 7, 7);
    border-color: rgb(51, 3, 3);
    color: white;
}

.btn-default:active{
    background-color: rgb(73, 7, 7);
    border-color: rgb(51, 3, 3);
    color: white;
}

.btn-default:focus{
    background-color: rgb(73, 7, 7);
    border-color: rgb(51, 3, 3);
    color: white;
}

.btn-default:active:focus{
    background-color: rgb(73, 7, 7);
    border-color: rgb(51, 3, 3);
    color: white;
}

.paragraf-bordered{
    color: rgb(88, 4, 4);
    font-family: 'Georgia';
    font-size: 140%;
    font-weight: bold;
    text-align: center;
    border: solid;
    border-width: thin;
    border-color: rgb(73, 7, 7);
    padding: 2%;
    border-radius: 30px 10px;
    margin-top: 3%;
}

.paragraf-bordered-small{
    margin-top: 10%;
    font-size: 130%;
}

.xsmall-title{
    font-size: 130%;
    color: rgb(88, 4, 4);
    font-family: 'Georgia';
    font-weight: bold;
    font-style: italic;
    margin-top: 2%;
}

.disc-list{
    list-style-type: disc;
    font-size: 110%;
    font-weight: normal;
    color: rgb(51, 3, 3);
}

.list-margin-left{
    margin-left: 5%;
    color: rgb(88, 4, 4);
}

.disc-list-small{
    list-style-type: disc;
    font-size: 90%;
    font-weight: normal;
    color: rgb(51, 3, 3);
}

.disc-list-book{
    list-style-type: disc;
    font-size: 75%;
    font-weight: normal;
    color: rgb(51, 3, 3);
    text-align: justify;
}

.strait{
    font-size: 120%;
    font-weight: bold;
    color: rgb(88, 4, 4);
    margin-right: 5%;
    margin-left: 5%;
}

.margin-top-bottom{
    margin-top: 3%;
    margin-bottom: 3%;
}

.different-columns{
    font-size: 120%;
    font-weight: bold;
    color: rgb(88, 4, 4);
}

.department{
    font-size: 100%;
    color: rgb(51, 3, 3);
    font-weight: normal;
    text-indent: 5%;
}

.description{
    display: none;
    font-size: 100%;
    font-weight: normal;
    color: rgb(51, 3, 3);
    text-align: justify;
    margin-right: 10%;
}

.university-name-paragraf{
    color: rgb(51, 3, 3);
    font-family: 'Gerogia';
    font-size: 140%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.one-line-paragraf{
    font-size: 120%;
    color: rgb(51, 3, 3);
    font-family: 'Arial';
}

.contact{
    font-family: 'Gerogia';
    font-size: 120%;
    font-weight: bold;
}

.paragraf-book{
    margin-top: 3%;
    margin-bottom: 2%;
    font-size: 110%;
    color: rgb(88, 4, 4);
    font-family: 'Arial';
    font-variant: small-caps;
}

.roman-list{
    font-size: 125%;
    color: rgb(51, 3, 3);
    margin-left: 5%;
    margin-right: 5%;
}

.roman-list>li{
    margin-top: 1%;
    margin-bottom: 1%;
}

.number-list{
    font-size: 100%;
    font-weight: normal;
    color: rgb(119, 8, 8);
}

.number-list>li{
    margin-top: 1%;
}

input#feb, input#jun, input#nap, input#tav{
    margin-left: 2em;
}

@media (max-width: 1199px){
    input#feb, input#jun, input#nap, input#tav{
        margin-left: 1em;
    }
    label{
        font-size: 90%;
    }
}

.checkbox-row{
    margin-top: 3%;
}

/*@media (max-width: 1200px){
    label{
        font-size: 90%;
    }
}*/

.paragraf-centered{
    text-align: center;
    font-size: 160%;
    font-family: 'Georgia';
    color: rgb(88, 4, 4);
    font-weight: bold;
    margin-top: 2%;
}

.dates{
    margin-top: 5%;
    font-size: 150%;
    font-variant: small-caps;
    color: rgb(119, 8, 8);
}

.center{
    text-align: center;
}

#countdown-table1, #countdown-table2{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8%;
}

#countdown-table1 td, #countdown-table2 td{
    padding-right: 5%;
    padding-left: 3%;
}

.time{
    font-size: 350%;
    font-family: 'Georgia';
    color: rgb(88, 4, 4);
}

.datum{
    font-family: 'Georgia';
    color: rgb(73, 7, 7);
    font-size: 130%;
}

@media (max-width: 991px){
    #countdown-table1, #countdown-table2{
        width: 50%;
    }
}

@media (max-width: 450px){
    .time{
        font-size: 250%;
    }
}

/*.hidden-text{
    display: none;
}

#hidden-text1, #hidden-text2, #hidden-text3, #hidden-text4, 
#hidden-text5, #hidden-text6, #hidden-text7, #hidden-text8,
#hidden-text9, #hidden-text10, #hidden-text11, #hidden-text12,
#hidden-text13, #hidden-text14, #hidden-text15, #hidden-text16,
#hidden-text17, #hidden-text18, #hidden-text19, #hidden-text20{
    display: none;
}*/

.pointer{
    cursor: pointer;
}

/*#more{
    display: none;
}*/

.bold{
    font-weight: bold;
}

.border-bottom{
    margin-top: 3%;
    border-bottom: 1px solid rgb(179, 177, 177);
    padding-bottom: 5%;
}

.error{
    background-color: rgba(141, 17, 17, 0.904);
    color: #fff;
    text-align: center;
    border-radius: 15px 50px 50px;
    padding: 0.5em;
    position: absolute;
    z-index: 1;
}

.panel {
    padding: 1%;
    display: none;
    background-color: rgba(199, 193, 193, 0);
    overflow: hidden;
}

.active-panel{
    font-size: 115%;
    padding: 1%;
}

.accordion {
    transition: 0.5s;
}
  
.clock{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    padding: 1%;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 18px 1px;
    border-radius: 10%;
}

img#examen{
    border-radius: 8px;
    width: 70%;
    position: relative;
    transform: translate(30%,45%);
}

@media (max-width: 1199px){
    img#examen{
        width: 80%;
        transform: translate(25%,50%);
    }
}

@media (max-width: 991px){
    img#examen{
        width: 110%;
        position: relative;
        transform: translate(40%, 10%);
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 2%;
        margin-bottom: 5%;
    }
}

@media (max-width: 767px){
    img#examen{
        width: 60%;
        position: relative;
        transform: translate(0%, 0%);
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 2%;
        margin-bottom: 1%;
    }
}

@media (max-width: 500px){
    img#examen{
        width: 80%;
        position: relative;
        transform: translate(0%, 0%);
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 2%;
        margin-bottom: 1%;
    }
}

.not-first-title{
    margin-top: 5%;
}

#t04{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#t04 th {
    font-size: 110%;
    color: rgb(51, 3, 3);
    font-family: 'Arial';
    padding: 1%;
    border-bottom: 1px solid rgb(179, 177, 177);
}

#t04 td {
    font-size: 110%;
    color: rgb(51, 3, 3);
    font-family: 'Arial';
    padding: 1%;
    border-bottom: 1px solid rgb(179, 177, 177);
}

#t04 td:nth-child(3), #t04 td:nth-child(4){
    text-indent: 12%;
}

.one-line-paragraf-small{
    font-size: 90%;
    color: rgb(51, 3, 3);
    font-family: 'Arial';
    margin-bottom: 8%;
}

img#university-contact{
    border-radius: 8px;
    width: 100%;
    position: relative;
    transform: translate(0%,20%);
}

@media (max-width:1199px){
    img#university-contact{
        transform: translate(0%,35%);
    }
}

.contact-letter{
    font-family: 'Arial';
    color: rgb(51, 3, 3);
    text-indent: 7%;
    text-align: justify;
    font-size: 100%;
    line-height: 170%;
}

.first-contact{
    margin-top: 30%;
}

@media (max-width:991px){
    .first-contact{
        margin-top: 3%;
    }
    .one-line-paragraf-small{
        font-size: 120%;
        color: rgb(51, 3, 3);
        font-family: 'Arial';
        margin-bottom: 2%;
    }
    img#university-contact{
        width: 60%;
        position: relative;
        transform: translate(0%, 0%);
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 3%;
    }
    .contact-letter{
        font-size: 120%;
    }
}

@media (max-width: 500px){
    img#university-contact{
        width: 80%;
        position: relative;
        transform: translate(0%, 0%);
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 3%;
    }
}